.preview {
  background-image: url('../images/img-video.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview header {
  background-image: none;
}

.preview a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.preview .title {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;

  font-size: 4em;
}

@media only screen and (max-width: 800px) {

  .preview .title {

    font-size: 2.5em;
  }

}
